.header{
    position: fixed;
    height: 40px;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    display: flex;
    padding: 8px 21px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    z-index: 2;
}
.header img{
    width: 22px;
    height: 22px;
}
.tool-tip{
    height: 30px;
    width: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all 0.5s;
}
.nots:hover,
.apps:hover,
.upload:hover,
.hamburger:hover {
    transition: background-color 0.25s;
    border-radius: 10px;
    cursor: pointer;
}
.tool-tip:hover{
    border-radius: 15px;
    background-color: rgb(228, 228, 228);
}
.button-tip{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-tip:hover .tip,
.tool-tip:hover .tip{
    opacity:1;
}
.tip{
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.5s;
    opacity: 0;
    background-color: rgba(27, 27, 27,0.7);
    color: white;
    position: absolute;
    padding: 2px 5px;
    border-radius: 4px;
    bottom: -25px;
}
.header .yt-logo{
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.left{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle{
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar{
    border: 1px solid rgb(184, 184, 184);
    border-radius: 20px 2px 2px 20px;
    flex: 1;
    font-size: 15px;
    padding: 10px 10px;
    float: none;
    width: 100%;
    transition: all 0.3s ease;
}
.search-button{
    margin-left: -1px;
    border: 1px solid rgb(184, 184, 184);
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 7.5px 20px;
    align-items: center;
    justify-content: center;
}
.voice-search:hover,
.search-button:hover{
    transition: background-color 0.25s;
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}
.voice-search{
    background-color: rgb(245, 245, 245);
    padding: 8px 6px;
    border: none;
    border-radius: 20px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bell{
    position: relative;
}
.notifications{
    font-family: Arial;
    font-size: 12px;
    position: absolute;
    top: -3px;
    right: -5px;
    border-radius: 10px;
    background-color: rgb(194, 0, 0);
    color: white;
    padding: 1px 5px;
}
.right .profile{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}